<div class="col-md-14" style="margin-left: 0%">
  <div class="box box-info">
    <div class="box-header with-border">
      <h3>Ticket Summary</h3>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-2 col-xs-4">
    <div class="small-box bg-green">
      <div class="inner">
        <h3>{{summary.amountNew}}</h3>
        <p><b>New</b></p>
      </div>
      <div class="icon">
        <i class="ion ion-document"></i>
      </div>
    </div>
  </div>

  <div class="col-lg-2 col-xs-4">
    <div class="small-box bg-aqua">
      <div class="inner">
        <h3>{{summary.amountResolved}}</h3>
        <p><b>Resolved</b></p>
      </div>
      <div class="icon">
        <i class="ion ion-document"></i>
      </div>
    </div>
  </div>

  <div class="col-lg-2 col-xs-4">
    <div class="small-box bg-yellow">
      <div class="inner">
        <h3>{{summary.amountApproved}}</h3>
        <p><b>Approved</b></p>
      </div>
      <div class="icon">
        <i class="ion ion-document"></i>
      </div>
    </div>
  </div>

  <div class="col-lg-2 col-xs-4">
    <div class="small-box bg-red">
      <div class="inner">
        <h3>{{summary.amountDisapproved}}</h3>
        <p><b>Disapproved</b></p>
      </div>
      <div class="icon">
        <i class="ion ion-document"></i>
      </div>
    </div>
  </div>

  <div class="col-lg-2 col-xs-4">
    <div class="small-box bg-blue">
      <div class="inner">
        <h3>{{summary.amountAssigned}}</h3>
        <p><b>Assigned</b></p>
      </div>
      <div class="icon">
        <i class="ion ion-document"></i>
      </div>
    </div>
  </div>

  <div class="col-lg-2 col-xs-4">
    <div class="small-box bg-teal">
      <div class="inner">
        <h3>{{summary.amountClosed}}</h3>
        <p><b>Closed</b></p>
      </div>
      <div class="icon">
        <i class="ion ion-document"></i>
      </div>
    </div>
  </div>
</div>